<mat-toolbar>
  <span>Calendar heatmap example</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openGithub()">
    <mat-icon svgIcon="github-circle"></mat-icon>
  </button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-actions>
    <button mat-button (click)="newData()">New data</button>
    <button mat-button (click)="clearData()">Clear data</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Default options</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-calendar-heatmap [data]="calendarData"></ng-calendar-heatmap>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Custom options</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-calendar-heatmap [data]="calendarDataCustom" [options]="calendarOptionsCustom"></ng-calendar-heatmap>
  </mat-card-content>
</mat-card>
